@CHARSET "ISO-8859-1";
.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-google {
	background: #dd4b39;
	color: white;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}

.fa-youtube {
	background: #bb0000;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}

.navbar2 {
	overflow: hidden;
	background-color: #333;
	position: fixed;
	bottom: 0;
	width: 360px;
	margin-left: auto;
	margin-right: auto;
	left: 600px;
}

.navbar2 a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.fuentealicia {
	font-family: font-family : 'Pacifico', cursive;
	font-size: 48px;
	text-shadow: 4px 4px 4px #aaa;
}

.fuentealicia2 {
	font-family: 'Tangerine', serif;
	text-shadow: 4px 4px 4px #aaa;
	font-size: 48px;
}

.parallax {
	/* The image used */
	background-image: url("../img/cajamarca.jpg");
	/* Set a specific height */
	min-height: 250px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallaxfondo {
	/* The image used */
	background-image: url("../img/cajamarcaciudad.jpg");
	/* Set a specific height */
	min-height: 250px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #f1f1f1;
	height: 100%;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
	
}